html {
  box-sizing: border-box;
  background-color: #c9b5ab;
  font-family: "PT Sans", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  font-family: "PT Sans", sans-serif;
  color: #3f1622;
}

nav ol {
  font-family: "PT Sans", sans-serif;
  list-style-type: none;
  color: #8f2440;
}

a:link {
  text-decoration: none;
  color: #8f2440;
}

img {
  width: 100%;
}

figcaption {
  font-size: 1.125em;
  font-style: italic;
  text-align: center;
}
